@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: app shell tweaks */
html, body, #root { height: 100%; }
/* body.modal-open {
  overflow: hidden;
} */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* same as Tailwind's slate-50 */
}

body.modal-open {
  overflow: hidden;
  height: 100vh; /* prevent white gap */
}
